@import '../utilities/variables';
@import '../utilities/extends';

.add-task__container {
  margin: 1rem auto;
  min-width: 375px;
  width: 30%;
  flex-direction: column;
}

.add-task__control-section {
  width: 100%;
  margin: 1rem 0;

  > div {
    gap: .3rem;
  }

  button {
    @extend %flex-center;
  }
}

.control-section__btn {
  gap: .5rem;
  cursor: pointer;
  font-size: 1.08rem;
  padding: .5rem 1rem;
  border-radius: 7px;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

.add-task__control-section.focus .control-section__btn {
  color: $dark-red;
  background-color: $light-red;
  border: 2px solid $dark-red;
}

.add-task__control-section.short-break .control-section__btn {
  color: $dark-green;
  background-color: $light-green;
  border: 2px solid $dark-green;
}

.add-task__control-section.long-break .control-section__btn {
  color: $dark-blue;
  background-color: $light-blue;
  border: 2px solid $dark-blue;
}

.add-task__control-section .control-section__btn.btn--lg {
  width: 96%;
  margin: 1rem auto 0;
  color: $dark-green;
  font-size: 1.3rem;
  padding: .7rem 1rem;
  background-color: $light-green;
  border: 2px solid $dark-green;
}

.add-task__progress-bar {
  width: 96%;
  margin: 1rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.progress-bar__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: $grey;

  &::after {
    content: '';
    display: inline-block;
    @extend %top-left-center;
    height: 3px;
    width: 12rem;
    position: absolute;
    background-color: $grey;
  }
}

.circle--active::after {
  z-index: 1;
}

.circle--active.focus {
  background-color: $dark-red;

  &::after {
    background-color: $dark-red;
  }
}

.circle--active.short-break {
  background-color: $dark-green;

  &::after {
    background-color: $dark-green;
  }
}

.circle--active.long-break {
  background-color: $dark-blue;

  &::after {
    background-color: $dark-blue;
  }
}

.add-task__form {
  width: 100%;
}

.form__input-field {
  width: 96%;
  margin: auto;

  label {
    display: block;
    font-size: 1.1rem;
  }

  input, textarea {
    margin: .5rem 0;
    padding: .6rem;
    border: none;
    border-radius: 6px;
    width: 100%;
    color: $dark-grey-text;
    background: $white-theme-bg;
    font-size: 1.3rem;
  }

  textarea {
    height: 6rem;
    overflow: scroll;
    resize: none;
  }

  input[type="number"] {
    width: 48%;
  }
}

.add-task__form.focus {
  label {
    color: $dark-red;
  }
  
  input, textarea {
    outline: 2px solid $dark-red;
  }
}

.add-task__form.short-break {
  label {
    color: $dark-green;
  }
  
  input, textarea {
    outline: 2px solid $dark-green;
  }
}

.add-task__form.long-break {
  label {
    color: $dark-blue;
  }
  
  input, textarea {
    outline: 2px solid $dark-blue;
  }
}

.save-task__btn {
  width: 48%;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 0.9rem;
  color: $dark-green;
  font-size: 1.3rem;
  padding: 0.6rem 1rem;
  background-color: $light-green;
  border: 2px solid $dark-green;

  &:hover {
    color: $dark-grey-text;
    background-color: hsl(133.66deg 35.75% 67.89%);
  }
}
