@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/media-queries';

.nav {
  min-width: 375px;
  height: 6.5rem;
  display: grid;
  position: relative;
  align-items: center;
  grid-template-areas:
    "logo icons icons profile";
}

.nav__logo {
  grid-area: logo;
  position: absolute;
  left: 5%;
}

.nav__links-container {
  grid-area: icons;
  width: 100%;
}

.links-container__links {
  display: flex;
  justify-content: center;
  gap: .3rem;
}

.links__btn {
  color: $dark-grey-text;
  background-color: $light-pink;
  // border: 2px solid $dark-pink;
  cursor: pointer;
  font-size: 1.08rem;
  padding: .7rem 1rem;
  border-radius: 5px;

  &:hover {
    transform: scale(.98);
  }
}

.nav__profile {
  grid-area: profile;
  position: absolute;
  right: 5%;

  span {
    cursor: pointer;
  }
}

.nav__logo, .nav__profile div {
  width: 30%;
}

.links__btn, .nav__profile > div {
  gap: .5rem;
}

.profile__sidenav {
  position: absolute;
  border-radius: .5rem;
  opacity: 1;
  top: 85%;
  right: 1.5%;
  width: 14.5rem;
  background-color: $white-theme-bg;
  transition: opactiy 2s ease-in;
  padding: .5rem 1rem;
  z-index: 2;

  &::before {
    @include tip(1.5rem, 1.5rem, $white-theme-bg);
    right: 21%;
    top: -3.3%;
    z-index: 2;
  }

  &:focus {
    opacity: 1;
  }

  ul li {
    margin: .5rem 0;
    padding: .8rem .6rem;
    border-bottom: 1px solid $dark-grey-text;
    color: $dark-grey-text;
    width: 100%;
    display: flex;
    gap: 1.2rem;
    cursor: pointer;
    align-items: center;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      border-bottom: 0;
      border-radius: .4rem;
    }

    &:last-child:hover {
      background-color: $light-red;
      color: $dark-red;
    }
  }
}

.sidenav--close {
  display: none;
}

.divider {
  min-width: 375px;
  @include divider(100%, $dark-pink);
}

@include lg-screens {
  .divider {
    opacity: 1; // so that tooltips can have clear white background
  }

  .links__btn {
    position: relative;

    > span {
      display: none;
    }

    &:hover::before {
      @include tip(1rem, 1rem, $white-theme-bg);
      top: 102%;
      left: 50%;
      z-index: 1;
    }

    &:hover::after {
      content: attr(data-tool-tip);
      padding: .4rem .8rem;
      font-size: .9rem;
      background-color: $white-theme-bg;
      border-radius: 5px;
      position: absolute;
      top: 108%;
      z-index: 1;
    }
  }
}

@include md-screens {
  .nav {
    grid-template-areas:
      "logo icons profile";
  }

  .links-container__links {
    display: none;
  }
}
