@import '../utilities/variables';
@import '../utilities/mixins';

.tasks__container {
  margin: 0 .5rem;
}

.tasks__filter {
  width: 100%;
  padding: .6rem 0;
  margin-bottom: .8rem;

  span {
    padding: .5rem .7rem;
    border-radius: 2rem;
    margin: 0 .4rem;
    cursor: pointer;

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.tasks__filter.focus {
  span {
    border: 2px solid $dark-red;
    color: $dark-red;
  }

  .filter--active {
    background-color: #f8c2c2;
  }
}

.tasks__filter.short-break {
  span {
    border: 2px solid $dark-green;
    color: $dark-green;
  }

  .filter--active {
    background-color: #c0e1c0;
  }
}

.tasks__filter.long-break {
  span {
    border: 2px solid $dark-blue;
    color: $dark-blue;
  }

  .filter--active {
    background-color: #b0dcf7;
  }
}

.divider.focus {
  @include divider(100%, $dark-red);
}

.divider.short-break {
  @include divider(100%, $dark-green);
}

.divider.long-break {
  @include divider(100%, $dark-blue);
}

.tasks__task-list {
  box-shadow: 0px 0px 15px 3px $grey;
  width: 100%;
  margin: 2rem 0;
  max-height: 25.5rem;
  overflow: scroll;

  ul li {
    width: 100%;
    padding: 1rem .6rem;
    background-color: #f0f8ff;
    border-bottom: 1px solid $dark-grey-text;
  }
}

.task-list__task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > span {
    font-size: 1.1rem;
    max-width: 11rem;
    cursor: pointer;
  }
}

.task-header__control-icons {
  display: flex;
  gap: .4rem;
  align-items: center;

  span {
    padding: .2rem .3rem 0;
    cursor: pointer;

    &:hover {
      background-color: $grey;
      border-radius: 50%;
    }
  }
}

.task-list__task-body {
  margin-top: .4rem;
  border-top: 1px solid $dark-grey-text;
  font-size: .9rem;
  padding: 10px;
  width: 21rem;
  height: 6rem;
  overflow: scroll;

  span {
    color: $blue-text;
    text-decoration: underline;
    margin: 0 2px;
  }
  
  // For showing only 3 lines of text at a time
  // overflow: hidden;
  // -webkit-line-clamp: 3;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
}

.task-list--empty {
  max-width: 375px;
  text-align: center;
  font-size: 1.05rem;
  margin: 10px 12px;
}

.tasks__task-list.focus {
  .task-list__task-body {
    background-color: #f5f5f5;
  }

  .task-list--empty {
    color: $dark-red;
  }
}

.tasks__task-list.short-break {
  .task-list__task-body {
    background-color: #e5f3e5;
  }

  .task-list--empty {
    color: $dark-green;
  }
}

.tasks__task-list.long-break {
  .task-list__task-body {
    background-color: #e2f5ff;
  }

  .task-list--empty {
    color: $dark-blue;
  }
}

.tasks__show-more {
  text-align: center;
  border: 1px solid #000;
  border-top: 0;
  padding: .8rem;
  cursor: pointer;
  color: #000;
}

.tasks__show-more.focus {
  background-color: $dark-pink;
}

.tasks__show-more.short-break {
  background-color: $dark-yellow-green;
}

.tasks__show-more.long-break {
  background-color: $dark-skyblue;
}
