@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/media-queries';

.timer__status {
  width: max-content;
  gap: .8rem;
  border-radius: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: .6rem .8rem;
}

.timer__status.focus {
  color: $dark-red;
  background-color: $light-red;
  border: 2px solid $dark-red;
}

.timer__status.short-break {
  color: $dark-green;
  background-color: $light-green;
  border: 2px solid $dark-green;
}

.timer__status.long-break {
  color: $dark-blue;
  background-color: $light-blue;
  border: 2px solid $dark-blue;
}

.timer__box {
  position: relative;
  width: 20rem;
  margin: 1.3rem 0;
  height: 19rem;
  max-height: 20rem;
  border-radius: 50%;

  p {
    position: absolute;
    left: 50%;

    &:nth-child(1) {
      top: 50%;
      font-size: 4em;
      transform: translate(-50%, -50%);
    }

    &:nth-child(2) {
      bottom: 24%;
      width: max-content;
      max-width: 13.5rem;
      transform: translate(-50%);
      padding: .1rem;
    }
  }
}

.timer__box.focus {
  border: .4rem solid $dark-red;
  box-shadow: 1px 1px 4px 10px #ebd4d4;
  
  p {
    color: $dark-red;
  }
}

.timer__box.short-break {
  border: .4rem solid $dark-green;
  box-shadow: 1px 1px 4px 10px #d6e5d6;

  p {
    color: $dark-green;
  }
}

.timer__box.long-break {
  border: .4rem solid $dark-blue;
  box-shadow: 1px 1px 4px 10px #cfdee5;

  p {
    color: $dark-blue;
  }
}

.timer__info {
  margin: 1rem 0;

  span {
    color: $dark-grey-text;
    margin: .5rem .2rem;
    padding: .4rem;
    font-size: 1.09rem;
    border-radius: 6px;
  }

  p {
    font-size: 1.3rem;
  }
}

.timer__info.focus span {
  background-color: #fddada;
  box-shadow: 1px 1px 10px 1px #c5b3b3;
}

.timer__info.short-break span {
  background-color: #d6ecd6;
  box-shadow: 1px 1px 10px 1px #b7bab7;
}

.timer__info.long-break span {
  background-color: #cce6f6;
  box-shadow: 1px 1px 10px 1px #adbcc5;
}

.timer__info.focus p {
  color: $dark-red;
}

.timer__info.short-break p {
  color: $dark-green;
}

.timer__info.long-break p {
  color: $dark-blue;
}

.timer__controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: .8rem 0;

  button {
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: .8rem;
    width: 4.5rem;
    height: 3.5rem;
    box-shadow: 1px 3px 8px #9e9c9c;

    img {
      position: absolute;
    }

    &:hover {
      transform: scale(.99);
      box-shadow: 1px 3px 5px #9e9c9c;
    }

    &:nth-child(2) {
      width: 5.8rem;
      height: 4.2rem;
    }
  }
}

.timer__controls.focus button {
  background-color: #f8c2c2;

  &:nth-child(2) {
    background-color: #f87b7bf0;
  }
}

.timer__controls.short-break button {
  background-color: #c0e1c0;

  &:nth-child(2) {
    background-color: #7bbc7a;
  }
}

.timer__controls.long-break button {
  background-color: #b0dcf7;

  &:nth-child(2) {
    background-color: #7ec3ee;
  }
}

.divider.focus {
  @include divider(25rem, $dark-pink);
}

.divider.short-break {
  @include divider(25rem, $dark-yellow-green);
}

.divider.long-break {
  @include divider(25rem, $dark-skyblue);
}

.music__container {
  position: fixed;
  max-width: 9rem;
  height: 5rem;
  border-radius: 50%;
  // background-color: $light-red;
  left: 3%;
  bottom: 7%;
  z-index: 10;

  img {
    cursor: pointer;
  }
}

@include lg-screens {
  .timer__box {
    width: 17rem;
    height: 16rem;

    p:nth-child(1) {
      font-size: 3rem;
    }
  }

  .timer__status {
    gap: .6rem;
    font-size: .9rem;
    padding: .4rem .8rem;
  }  

  .timer__info span {
    font-size: .9rem;
  }

  .divider {
    width: 21rem !important;
  }

  .music__container {
    display: none;
  }
}
