@import '../utilities/variables';
@import '../utilities/extends';
@import '../utilities/mixins';
@import '../utilities/media-queries';

.timer__status {
  width: max-content;
  gap: .8rem;
  border-radius: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: .6rem .8rem;
  color: $dark-red;
  background-color: $light-red;
  border: 2px solid $dark-red;
}

.timer__box {
  position: relative;
  width: 20rem;
  margin: 1.3rem 0;
  height: 19rem;
  max-height: 20rem;
  border-radius: 50%;
  border: .4rem solid $dark-red;
  box-shadow: 1px 1px 4px 10px #ebd4d4;

  p {
    position: absolute;
    left: 50%;
    color: $dark-red;

    &:nth-child(1) {
      top: 50%;
      font-size: 4em;
      transform: translate(-50%, -50%);
    }

    &:nth-child(2) {
      bottom: 24%;
      width: max-content;
      max-width: 13.5rem;
      transform: translate(-50%);
      padding: .1rem;
    }
  }
}

.timer__info {
  margin: 1rem 0;

  span {
    background-image: $light-red-shade-gradient;
    // background-image: linear-gradient(to top, #f8cfcf, #fce2e2);
    box-shadow: 1px 1px 10px 1px #c5b3b3;
    color: $dark-grey-text;
    margin: .5rem .2rem;
    padding: .4rem;
    font-size: 1.09rem;
    border-radius: 6px;
  }
}

.timer__controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: .8rem 0;

  span {
    position: relative;
    cursor: pointer;
    background-color: #f8c2c2;
    border-radius: .8rem;
    width: 4.5rem;
    height: 3.5rem;
    box-shadow: 1px 3px 8px #9e9c9c;

    img {
      position: absolute;
      @extend %top-left-center;
    }

    &:hover {
      transform: scale(.99);
      box-shadow: 1px 3px 5px #9e9c9c;
    }

    &:nth-child(2) {
      background-color: #f87b7bf0;
      width: 5.8rem;
      height: 4.2rem;
    }
  }
}

.divider {
  @include divider(25rem, $dark-pink);
}

@include lg-screens {
  .timer__box {
    width: 17rem;
    height: 16rem;

    p:nth-child(1) {
      font-size: 3rem;
    }
  }

  .timer__status {
    gap: .6rem;
    font-size: .9rem;
    padding: .4rem .8rem;
  }  

  .timer__info span {
    font-size: .9rem;
  }

  .divider {
    width: 21rem;
  }
}
