// Colors
$body-light-red: hsl(0, 82%, 94%);
$body-light-green: hsl(120deg 38.95% 92.56%);
$body-light-blue: hsl(202.56deg 60.27% 91.3%);

// $white-theme-bg: hsl(0, 7%, 95%); //old
$white-theme-bg: hsl(0deg 17.64% 97.05%);

$light-pink: hsla(0, 75%, 89%, 0.569);
$light-yellow-green: hsl(120deg 37.14% 87.32%);
$light-skyblue: hsl(203.08deg 62.27% 86.11%);

$dark-pink: hsla(0, 86%, 72%, 0.569);
$dark-yellow-green: hsl(115, 23%, 56%);;
$dark-skyblue: hsl(203.18deg 28.71% 58.73%);

$light-red: hsl(0, 87%, 91%);
$light-green: hsl(133.66deg 50.9% 85.57%);
$light-blue: hsl(203.18deg 73.25% 83.92%);

$dark-red: hsla(0, 53%, 42%, 0.988);
$dark-green: hsl(133, 15%, 29%);
$dark-blue: hsl(203, 41%, 35%);

$grey: hsl(0, 0%, 76%);

// Text Colors
$dark-grey-text: hsl(0, 1%, 23%);
$blue-text: hsl(215, 68%, 39%);
