// Colors
$body-light-red: hsl(0, 82%, 94%);
$white-theme-bg: hsl(0, 7%, 95%);

$light-pink: hsla(0, 74%, 89%, 0.569);
$dark-pink: hsla(0, 86%, 72%, 0.569);
$light-red: hsl(0, 87%, 91%);
$dark-red: hsla(0, 53%, 42%, 0.988);

$grey: hsl(0, 0%, 76%);

// Gradients
$light-red-shade-gradient: linear-gradient(to top, $light-red 85%, $light-pink 15%);

// Text Colors
$dark-grey-text: hsl(0, 1%, 23%);
$blue-text: hsl(215, 68%, 39%);
