@import '../utilities/extends';
@import '../utilities/variables';

.loading__container {
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  > p {
    margin: .5rem auto;
    font-size: 1.4rem;

    &::after {
      content: '';
      animation: typing 3s linear infinite;
    }
  }
}

.loading__container-clock {
  position: relative;
  width: 4rem;
  height: 4rem;
  border: .4rem solid #333;
  border-radius: 50%;

  &::before {
    content: '';
    height: 1.5rem;
    width: .3rem;
    position: absolute;
    transform-origin: top;
    @extend %top-left-center;
    animation: spin 2s linear infinite;
  }

  &::after {
    content: '';
    height: 1.32rem;
    width: .22rem;
    background-color: #333;
    position: absolute;
    transform-origin: top;
    @extend %top-left-center;
    animation: anti-spin 2s linear infinite;
  }

  span {
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
  }
}

.loading__container-clock.focus::before {
  background-color: $dark-red;
}

.loading__container-clock.short-break::before {
  background-color: $dark-red;
}

.loading__container-clock.long-break::before {
  background-color: $dark-red;
}

@keyframes typing {
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes anti-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
