.tasks-container {
  margin: 2rem auto;
  min-width: 375px;
  width: 30%;
  flex-direction: column;
}

.indicator {
  width: 96%;
  margin: 1rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #c2c2c2;
}

.circle.active {
  background-color: var(--dark-red);
}

.circle.active::after {
  background-color: var(--dark-red);
  z-index: 1;
}

.circle::after {
  content: '';
  display: inline-block;
  height: 3px;
  width: 12rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c2c2c2;
}

.add-task-form {
  width: 100%;
}

.form-btns {
  width: 100%;
}

.controls {
  width: 100%;
  margin: 1rem 0;
}

.controls > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}

.icon-btn {
  gap: .5rem;
  color: var(--dark-red);
  background-color: var(--light-red);
  border: 2px solid var(--dark-red);
  /* border: 2px solid var(--dark-pink); */
  cursor: pointer;
  font-size: 1.08rem;
  padding: .5rem 1rem;
  border-radius: 7px;
}

.controls .btn-lg {
  width: 96%;
  margin: 1rem auto;
  background-color: #bcdbbc8c;
  --dark-red: #346634;
}

.input-field {
  width: 96%;
  margin: auto;
}

.input-field label {
  display: block;
  font-size: 1.1rem;
  color: var(--dark-red);
}

.input-field input, .input-field textarea {
  margin: 0.5rem 0;
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  width: 100%;
  outline: 2px solid var(--dark-red);
  color: var(--dark-grey-text);
  background: var(--white-theme-bg);
  font-size: 1.3rem;
}

.input-field textarea {
  height: 6rem;
  overflow: scroll;
  resize: none;
}

.input-field input[type="number"] {
  width: 37%;
}
