:root {
  /* Colors */
  --body-light-red: #fce0e0;

  --light-pink: #f8d0d091;
  --dark-pink: #f57c7c91;
  --light-red: #fcd4d4;
  --dark-red: #a33232fc;

  /* Gradients */
  --light-red-shade-gradient: linear-gradient(to top, var(--light-red) 85%, var(--light-pink) 15%);

  /* Text Colors */
  --dark-grey-text: #3a3939;
}

/* ==================================================== Base Styles =================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* ==================================================== Base Classes ================================================== */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ==================================================== Main Styles =================================================== */

body {
  background-color: var(--body-light-red);
}

/* main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
} */
