@import 'normalize';
@import 'utilities/variables';
@import 'utilities/extends';

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @extend %flex-center;
}

.top-left-center {
  @extend %top-left-center;
}

.text-truncate {
  @extend %text-truncate;
}

.hidden {
  display: none !important;
}

.body--focus {
  background-color: $body-light-red;
}

.body--short-break {
  background-color: $body-light-green;
}

.body--long-break {
  background-color: $body-light-blue;
}
