.primary-nav {
  height: 6.5rem;
  display: grid;
  position: relative;
  align-items: center;
  grid-template-areas:
    "logo icons icons profile";
}

.logo {
  grid-area: logo;
  position: absolute;
  left: 5%;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: .3rem;
}

.profile {
  grid-area: profile;
  position: absolute;
  right: 5%;
}

.logo, .profile div {
  width: 30%;
}

.nav-links-container {
  grid-area: icons;
  width: 100%;
}

.icon-btn-div, .profile > div {
  gap: .5rem;
}

.icon-btn-div {
  color: var(--dark-grey-text);
  background-color: var(--light-pink);
  /* border: 2px solid var(--dark-pink); */
  cursor: pointer;
  font-size: 1.08rem;
  padding: .7rem 1rem;
  border-radius: 5px;
}

.icon-btn-div:hover {
  transform: scale(.99);
}

.divider {
  height: 1px;
  background-color: var(--dark-pink);
  opacity: .6;
}

@media screen and (max-width: 750px) {
  .icon-btn-div > span {
    display: none;
  }
}

@media  screen and (max-width: 500px) {
  .primary-nav {
    grid-template-areas:
      "logo icons profile";
  }
  .nav-links {
    display: none;
  }
}
