.clock-container > p {
  margin: .5rem auto;
  font-size: 1.4rem;
}

.clock-container > p::after {
  content: '';
  animation: typing 3s linear infinite;
} 

@keyframes typing {
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
}

.clock-container {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.clock {
  position: relative;
  width: 4rem;
  height: 4rem;
  border: .4rem solid #333;
  border-radius: 50%;
}

.clock::before {
  content: '';
  height: 1.5rem;
  width: .3rem;
  background-color: var(--dark-red);
  position: absolute;
  transform-origin: top;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

.clock::after {
  content: '';
  height: 1.32rem;
  width: .22rem;
  background-color: #333;
  position: absolute;
  transform-origin: top;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: anti-spin 2s linear infinite;
}

.clock span {
  height: .7rem;
  width: .7rem;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
}

.clock-container h2 {
  margin: 1rem 0 0 1.2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes anti-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
