.tasks-container {
  margin: 0 0.5rem
}

.tasks-filter-container {
  width: 100%;
  padding: .6rem 0;
  margin-bottom: .8rem
}

.tasks-filter-container span {
  padding: .5rem .7rem;
  border-radius: 2rem;
  border: 2px solid var(--dark-red);
  color: var(--dark-red);
  margin: 0 .4rem;
}

.tasks-filter-container span:nth-child(1) {
  margin-left: 0;
}

.tasks-filter-container span.active {
  background-color: var(--dark-pink);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--dark-red);
  opacity: .6;
}

.tasks {
  box-shadow: 0px 0px 15px 3px #c2c2c2;
  width: 100%;
  margin: 2rem 0;
  max-height: 25rem;
  overflow: scroll;
}

.tasks ul li {
  width: 100%;
  padding: 1rem .6rem;
  background-color: aliceblue;
  border-bottom: 1px solid var(--dark-grey-text);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header > span {
  font-size: 1.1rem;
  max-width: 11rem;
}

.task-control-icons {
  display: flex;
  gap: .4rem;
  align-items: center;
}

.task-control-icons span {
  padding: .2rem .2rem 0 .4rem;
}

.task-control-icons span:hover {
  background-color: #c2c2c2;
  border-radius: 50%;
}

.task-body {
  border-top: 1px solid var(--dark-grey-text);
  font-size: .9rem;
  padding: 10px;
  width: 21rem;
  height: 6rem;
  background-color: whitesmoke; /* for long break #e2f5ff */
  overflow: scroll;
  
  /* For showing only 3 lines of text at a time */
  /* overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical; */
}

.task-body span {
  color: var(--blue-text);
  text-decoration: underline;
  margin: 0 2px;
}

.show-more {
  text-align: center;
  border: 1px solid #000;
  border-top: 0;
  padding: .8rem;
  background-color: var(--dark-pink);
  color: var(--dark-grey-text);
}
